# IC workspace config file 

# Setup process
use component("process/sky130A","process","trunk")

# Select standard cells 
use componrnt("process/sky130_fd_sc_hd","process","trunk")

# Load tools 
use component("setup/analog","setup","trunk")
use component("setup/digital","setup","trunk")

# Load top instance analog compnent to work with
use component("analog/my_chip_top_rev0_sky130A","analog","trunk")

# Other simple component POR    
use component("analog/por","analog","trunk")

# Add ref component on local file space
#use ref("/home/jkj/work/ic_pwm_blocks")


